[submodule "basecamp"]
	path = basecamp
	url = https://github.com/hde-oliv/basecamp
[submodule "libft"]
	path = libft
	url = https://github.com/hde-oliv/libft
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/hde-oliv/get_next_line
