[submodule "basecamp"]
	path = basecamp
	url = https://github.com/hde-oliv/basecamp
[submodule "libft"]
	path = libft
	url = https://github.com/hde-oliv/libft
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/hde-oliv/get_next_line
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/hde-oliv/ft_printf
[submodule "so_long"]
	path = so_long
	url = https://github.com/hde-oliv/so_long
